body {
    background-color: rgb(141, 243, 141);
  }
.jumbotron {
    background-image: url("../images/nasa.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 450px;
    padding: 20px;
    margin: 0;
  }